# Python
__pycache__/
*.py[cod]
*$py.class
!__init__.py
.venv/

# Environment and Secrets
.env

# Data and Artifacts (Local only)
data/interim/
data/artifacts/
logs/
server.log

# IDE and OS
.DS_Store
.vscode/
.idea/

# UI Cache
.angular/
node_modules/
dist/
